[Unit]
Description=Audiodiary

[Service]
ExecStart=bash ~/Documents/scripts/phone_diary/watchscript
# Environment=STT_LAN="en-US"
# Environment=VIMWIKIPATH=~/vimwiki
Environment=PATH_TO_WATCH=~/Documents/scripts/phone_diary/watch/
Environment=PATH_TO_SPEECH_TO_DIARY=~/Documents/scripts/phone_diary/speech_to_diary.sh

[Install]
WantedBy=default.target
