[Unit]
Description=Audiodiary

[Service]
ExecStart=bash ~/Documents/scripts/phone_diary/watchscript
# Environment=STT_LAN="en-US"
# Environment=VIMWIKIPATH=~/vimwiki
Environment=PATH_TO_WATCH=/path/to/phone_diary/watch/

[Install]
WantedBy=default.target
